@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container{
    background-color: white;
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
}

.info-principal{
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & img{
        max-width: 250px;
        display: block;
        margin: 0 auto;
    }

    & h1{
        font-size: 2.1rem;
        letter-spacing: 8px;
        margin-bottom: 0.3em;
    }

    & p{
        font-size: 1.2rem;
        text-align: justify;
        text-indent: 30px;
        line-height: 1.8;
    }
}

.listas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

.lista-tarefas{
    font-size: 1.2rem;

    &  li{
        margin-bottom: 0.5em;
    }
}

.redes-sociais{
    list-style: none;

    & li{
        margin-bottom: 0.5em;

        & a{
            color: black;
            font-size: 1.1rem;
            font-weight: bolder;
            text-decoration: none;
            border-radius: 20px;
            padding: 5px;
        }

        & a:hover {
            background-color: gray;
            color: white;
        }
    }
}