@charset "UTF-8";   

:root {
    --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --color: #1d1d25;
    --background: #f7f8fc;
    --line-height: 1.6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.site-header{
    background-color: var(--background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em 0;    
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.brand{
    color: blue;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 3px;
}

.brand::first-letter{
    color: orange;
}

/* DESKTOP (Telas Grandes) */
.menu-toggle{
    display: none;
}

.main-nav{
    width: 50%;

    & ul{
        display: flex;
        list-style: none;
        justify-content: end;
        gap: 3em;

        & a{
            color: var(--color);
            font-family: var(--font-family);
            text-decoration: none;
            font-size: 1rem;
            transition: color 0.3s ease;

            &:hover{
                color: blue;
            }
        }
    }
}

.menu-toggle.active span:nth-child(1){
    transform: rotate(45deg);
}

.menu-toggle.active span:nth-child(2){
    opacity: 0;
    visibility: hidden;
}

.menu-toggle.active span:nth-child(3){
    transform: rotate(-45deg);
}

/* MOBILE (Telas Menores) */
@media (max-width: 768px){
    .menu-toggle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 24px;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;

        & span{
            display: block;
            width: 100%;
            height: 3px;
            background-color: var(--color);
            border-radius: 2px;
        }
    }

    .main-nav{
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        width: 100%;

        & ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 1em;
            align-items: center;
            width: 100%;
        }
    }

    .main-nav.active{
        display: flex;
    }

    .main-nav li a{
        font-size: 1.3em;
    }
}